/* ManageGroupsPage.css */

.app-main {
    display: flex;
    flex-grow: 1;
    background-color: black;
    color: white;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-top: 80px; /* Adjust to ensure it clears the navbar */
  }
  
  
  .main-heading {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 16px;
    text-align: center;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Always show 2 columns */
    gap: 16px;
    margin-top: 16px;
    width: 100%;
    max-width: 1024px;
  }
  
  @media (max-width: 300px) {
    .grid-container {
      grid-template-columns: 1fr; /* Switch to 1 column on very small screens */
    }
  }
  
  .create-group-box {
    background-color: #fbbf24;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .create-group-input {
    border: 1px solid #d1d5db;
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
    background-color: #1f2937;
    color: white;
    text-align: center;
  }
  
  .create-group-button {
    background-color: #3b82f6;
    color: white;
    border-radius: 4px;
    padding: 8px 16px;
    width: 100%;
    cursor: pointer;
  }
  
  .create-group-button:hover {
    background-color: #2563eb;
  }
  
  .group-box {
    background-color: #1f2937;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .group-name-heading {
    font-size: 1.125rem;
    font-weight: 600;
    color: #fbbf24;
  }
  
  .group-name {
    color: #9ca3af;
  }
  